<h3 id="form-title">Đăng nhập</h3>

<form id="login-form" action="/admin" method="POST">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Nhập Username" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Nhập Password" name="password" />

  <input type="submit" value="Login" class="btn" />
</form>

<form id="register-form" action="/register" method="POST" style="display: none">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Nhập Username" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Nhập Password" name="password" />

  <input type="submit" value="Đăng ký" class="btn" />
</form>

<button id="toggle-btn" class="btn">Đăng ký</button>

<script>
  const toggleBtn = document.getElementById("toggle-btn");
  const loginForm = document.getElementById("login-form");
  const registerForm = document.getElementById("register-form");
  const formTitle = document.getElementById("form-title");

  toggleBtn.addEventListener("click", () => {
    if (loginForm.style.display === "none") {
      // Hiển thị form đăng nhập
      loginForm.style.display = "block";
      registerForm.style.display = "none";
      formTitle.textContent = "Đăng nhập";
      toggleBtn.textContent = "Đăng ký";
    } else {
      // Hiển thị form đăng ký
      loginForm.style.display = "none";
      registerForm.style.display = "block";
      formTitle.textContent = "Đăng nhập";
      toggleBtn.textContent = "Đăng nhập";
    }
  });
</script>
