<header class="header">
  <a href="/" class="header__logo">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Trang chủ</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/contact" class="">Liên hệ</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <a href="/logout"> Đăng xuất </a>
  </div>
</header>
