<div class="author">
  <h1 class="author__heading">Hi, I am Duckmaniac</h1>
  <p class="author__body">"Web developer and rapper</p>
</div>
<img
  src="/img/abc.jpg
"
  alt="person looking out throught window"
  class="hero-image"
  width="981"
  height="528"
/>
<section class="articles">
  <h2 class="articles__heading">Lastest Posts</h2>
  <ul class="articles-ul">
    <a href="#">
      <span>Post Title</span>
      <span class="articles-list__date">Date</span>
    </a>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
